<!DOCTYPE>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>

  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="search-box.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static%}
  <link href="{% static 'pages/css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'pages/css/fonts.css' %}"rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home:home' %}">AirPort</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">Главная <span class="sr-only">(current)</span></a>
      </li>
              <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:onas' %}">О нас</a>

        <li class="nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <button class="search-box-button">❓</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Какие есть рейсы?</a>
        <a class="dropdown-item" href="{% url 'home:vylety' %}">Как узнать прилет?</a>
        <a class="dropdown-item" href="{% url 'home:prilet' %}">Когда отлет самолетов?</a>
        <a class="dropdown-item" href="{% url 'home:contact' %}">Как свзяаться с в аэропортом?</a>
        <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Almaty">Где находиться Алматы?</a>
        <a class="dropdown-item" href="{% url 'home:forpassengers' %}">Какие есть Алматинские авиа-туры?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Нужна ли регистрация для просмотра рейсов?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Как посмотреть мои полеты?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Как сохранить выбранный рейс?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Что еще я могу узнать?</a>
        </div>
        </li>
      <li class="nav-item active">
        <a class="nav-link active" href="{% url 'home:forpassengers' %}" tabindex="-1" aria-disabled="true">Для пассажиров</a>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:booking' %}">Покупка Билетов</a>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:contact' %}">Контакты</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        MEНЮ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{% url 'home:prilet' %}">ПРИЛЕТ</a>
          <a class="dropdown-item" href="{% url 'home:vylety' %}">ВЫЛЕТ</a>
          <a class="dropdown-item" href="{% url 'home:info' %}">Info-центр</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'home:schedule'%}">РАСПИСАНИЕ</a>
        </div>
      </li>
      <li class="nav-item active">
     {% if not request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'home:register' %}">Мои полеты</a>
      {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:profile' %}">Мой профиль</a>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">Выйти</a>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'home:search' %}" method='POST'>
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" name="search_text" placeholder="Search" aria-label="Search">
      <input class="search-box-button" type="submit">&#128269;</input>
    </form>
  </div>
</nav>


 <div id="header-wrapper">
        <div id="header" class="cоntainer">
          <div id="logo">
            <h1><a href="#"></a></h1>
            <h1><a href="{% url 'home:for_departure' %}">ВЫЛЕТАЮЩИМ</a></h1>
            <span><a href="http://templated.co" rel="nofollow"></a></span>
          </div>
          <div id="menu">


          </div>
        </div>

      </div>
 <div class="fly-away-bg">
            <div class="container">
                <div class="col-sm-12">
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
                                <p>DUTY FREE  <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse0">
                                <div class="purchase-bottom-text no-space">
                                    <p>В зале вылетов международных рейсов имеется магазин беспошлинной торговли Duty Free. Здесь при предъявлении посадочного талона пассажиры, за исключением вылетающих в страны Таможенного союза, могут приобрести товары известных мировых брендов &ndash; парфюмерию и косметику, алкогольную и табачную продукцию, сувениры, часы, украшения и многое другое. Кроме того, в обновленном отделе казахстанской продукции представлены национальные сувениры, отечественный алкоголь и кондитерские изделия.</p>
                                </div>
                                <img src="/backend/web/images/pribivshim/1561958258rGO0GnSF.jpg"  class="img-fluid" alt="">
                            </div>
                        </div>
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                <p>Багаж <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse1">
                                <div class="purchase-bottom-text no-space">
                                    <p><span style="color: rgb(0, 0, 0); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; white-space: pre-wrap;">Розыск багажа. Телефоны: 2703104, 2703093.</span></p>
                                </div>
                                <img src="/backend/web/images/pribivshim/Array"  class="img-fluid" alt="">
                            </div>
                        </div>
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                <p>Регистрация <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse2">
                                <div class="purchase-bottom-text no-space">
                                    <h3 style="text-align: center;">Постановление Правительства Республики Казахстан&nbsp;<br />
от 31 декабря 2010 года № 1512<br />
Об утверждении Правил организации обслуживания пассажиров в аэропортах Республики Казахстан<br />
(с изменениями от 22.01.2013 г.)</h3>

<p style="text-align: center;">В соответствии с подпунктом 36) статьи 13 Закона Республики Казахстан от 15 июля 2010 года &laquo;Об использовании воздушного пространства Республики Казахстан и деятельности авиации&raquo; Правительство Республики Казахстан ПОСТАНОВЛЯЕТ: 1. Утвердить прилагаемые Правила организации обслуживания пассажиров в аэропортах Республики Казахстан. 2. Настоящее постановление вводится в действие по истечении десяти календарных дней со дня первого официального опубликования.</p>

<p style="text-align: center;">Премьер-Министр<br />
Республики Казахстан&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; К. Масимов</p>

<p style="text-align: center;">Правила изложены в редакции постановления Правительства РК от 22.01.13 г. № 24 (см. стар. ред.)</p>

<p style="text-align: center;">Утверждены<br />
постановлением Правительства<br />
Республики Казахстан<br />
от 31 декабря 2010 года № 1512</p>

<p style="text-align: center;">Правила<br />
организации обслуживания пассажиров в аэропортах Республики Казахстан</p>

<p style="text-align: center;">1. Общие положения</p>

<p style="text-align: center;">&nbsp;&nbsp; 1. Настоящие Правила организации обслуживания пассажиров в аэропортах Республики Казахстан (далее - Правила) разработаны в соответствии с Законом Республики Казахстан от 15 июля 2010 года &laquo;Об использовании воздушного пространства Республики Казахстан и деятельности авиации&raquo;.&nbsp;<br />
&nbsp;&nbsp; 2. Настоящие Правила устанавливают порядок и организации обслуживания пассажиров в аэропортах Республики Казахстан и направлены на обеспечение безопасного и качественного обслуживания пассажиров.&nbsp;<br />
&nbsp;&nbsp; 3. Термины и определения, используемые в настоящих Правилах:&nbsp;<br />
1) агент - физическое или юридическое лицо, представляющее авиакомпанию, аэропорт, которое уполномочено непосредственно выступать от его имени при выполнении всех процедур, связанных с прибытием, отправлением и оформлением воздушного судна данной авиакомпании, экипажа, пассажиров, багажа, груза, почты и бортприпасов;&nbsp;<br />
2) графа &laquo;изменение в последнюю минуту&raquo; сводно-загрузочной ведомости (далее - графа &laquo;LMC&raquo;) - графа, в которой указываются изменения в последнюю минуту количества пассажиров, багажа;&nbsp;<br />
3) обслуживание пассажиров - деятельность по выполнению процедур, связанных с оформлением и осуществлением воздушной перевозки, а также с предоставлением им дополнительных платных или бесплатных услуг с целью удовлетворения потребностей;&nbsp;<br />
4) перронное транспортное средство - транспортное средство, предназначенное для перевозки пассажиров между воздушным судном и зданием аэропорта;&nbsp;<br />
5) претензия - составленное в письменной (электронной) форме требование заинтересованного лица о возмещении вреда (убытков), возникшее в результате ненадлежащей воздушной перевозки багажа;&nbsp;<br />
6) акт о неисправностях при перевозке багажа (PIR - property irregularity report) - документ, оформленный перевозчиком или обслуживающей организацией в присутствии пассажира или уполномоченного им лица при обнаружении вреда, причиненного багажу;&nbsp;<br />
7) багаж - личные вещи пассажира, перевозимые перевозчиком на воздушном судне на основании договора воздушной перевозки;&nbsp;<br />
8) багажная бирка - документ, выдаваемый перевозчиком для опознавания (идентификации) зарегистрированного багажа пассажира;&nbsp;<br />
9) маршрутная квитанция - документ или документы, являющиеся составной частью электронного билета и содержащие необходимые сведения (например, фамилию пассажира, маршрут, тариф и т.д.), извещения и уведомления;&nbsp;<br />
10) багаж зарегистрированный - багаж пассажира, принятый перевозчиком к воздушной перевозке под ответственность перевозчика и на который он выдал багажную квитанцию и багажную бирку;&nbsp;<br />
11) багаж невостребованный - багаж, который прибыл в аэропорт (пункт) назначения, указанный на багажной бирке, и не был получен пассажиром;&nbsp;<br />
12) багаж незарегистрированный (ручная кладь) - багаж пассажиров, кроме зарегистрированного, маркируемый бирками &laquo;ручная кладь&raquo;, перевозимый в салоне воздушного судна с согласия перевозчика;&nbsp;<br />
13) трансферный багаж - багаж, который в соответствии с договором воздушной перевозки перегружается в аэропорту (пункте) трансфера с воздушного судна, выполняющего один рейс, на воздушное судно, выполняющее другой рейс по маршруту воздушной перевозки;&nbsp;<br />
14) транзитный пассажир - пассажир, который в соответствии с договором воздушной перевозки перевозится далее тем же рейсом, которым прибыл в промежуточный аэропорт;&nbsp;<br />
15) трансферный пассажир - пассажир, который в соответствии с договором воздушной перевозки прибыл в аэропорт (пункт) трансфера (пересадки) одним рейсом и продолжает полет другим рейсом по маршруту перевозки;&nbsp;<br />
16) пассажир с ограниченной возможностью (PRM - Persons with Reduced Mobility) - пассажир, способность которого ограничена вследствие (сенсорной или моторной, хронической или временной) инвалидности, умственного недостатка, иного ограничения или возрастных изменений, и состояние которого требует надлежащей поддержки и адаптации.&nbsp;<br />
17) графа &laquo;передаточная надпись&raquo; - в билете в этой графе указываются данные о пассажире.&nbsp;<br />
&nbsp;&nbsp; 4. При организации обслуживания пассажиров в аэропортах Республики Казахстан служба организации авиаперевозок, являющаяся структурным подразделением аэропорта, осуществляет следующие функции:&nbsp;<br />
1) обеспечивает регулярность полетов;&nbsp;<br />
2) разрабатывает и осуществляет мероприятия по обеспечению сохранности и своевременной доставке багажа пассажиров;&nbsp;<br />
3) проводит регистрацию билетов пассажиров, взвешивание и оформление багажа пассажиров в соответствии с авиационными стандартами международной организации в сфере гражданской авиации, а также с учетом положений авиакомпании;&nbsp;<br />
4) обеспечивает представление пакета перевозочных документов по каждому рейсу;&nbsp;<br />
5) по окончании регистрации подводит итоги регистрации;&nbsp;<br />
6) выявляет наличие свободных мест и контролирует загрузку воздушного судна (пассажиров, багажа) в соответствии с перевозочными документами, документами по загрузке воздушного судна и положениями авиакомпании;&nbsp;<br />
7) приглашает к посадке и сопровождает пассажиров до воздушного судна;&nbsp;<br />
8) осуществляет посадку пассажиров в воздушное судно, загрузку багажа, сверяя фактическое наличие пассажиров с данными перевозочных документов;&nbsp;<br />
9) организует снятие багажа не явившихся на посадку пассажиров;&nbsp;<br />
10) проводит встречу и сопровождение прибывающих пассажиров до зала прилета аэровокзала;&nbsp;<br />
11) производит прием, сопровождение багажа между зданием аэропорта и воздушным судном;&nbsp;<br />
12) обеспечивает в аэропорту качество обслуживания пассажиров, пользующихся услугами воздушного транспорта в соответствии с международными стандартами, положения которых приведены в приложении 1 к настоящим Правилам.&nbsp;<br />
&nbsp;&nbsp; 5. Обслуживание пассажиров в аэропортах осуществляется в следующем порядке:&nbsp;<br />
1) обслуживание вылетающих пассажиров;&nbsp;<br />
2) обслуживание прилетающих пассажиров;&nbsp;<br />
3) обслуживание трансферных пассажиров;&nbsp;<br />
4) обслуживание транзитных пассажиров,&nbsp;<br />
5) обслуживание пассажира при предъявлении им претензии на ненадлежащую воздушную перевозку с участием представителя авиакомпании;&nbsp;<br />
6) обслуживание пассажиров с ограниченными возможностями.</p>

<p style="text-align: center;">2. Порядок обслуживания вылетающих пассажиров</p>

<p style="text-align: center;">&nbsp;&nbsp; 6. Обслуживание вылетающих пассажиров предусматривает следующий порядок:&nbsp;<br />
1) регистрация вылетающих пассажиров в аэропорту начинается не позднее двух часов до вылета воздушного судна (в зависимости от типа воздушного судна и количества пассажиров) на международных рейсах и не позднее 1,5 часов до вылета воздушного судна (в зависимости от типа воздушного судна и количества пассажиров) на внутренних рейсах и заканчивается за 40 минут до вылета воздушного судна;&nbsp;<br />
2) получение агентами от диспетчера сведений о номере и типе воздушного судна, количестве посадочных мест, авиакомпании, количестве проданных билетов и дополнительных сведений о вылетающих особо важных пассажирах, инвалидах, больных, трансферных и транзитных пассажирах, пассажирах зарегистрированных через интернет, стойки саморегистрации и другие виды связи;&nbsp;<br />
3) подготовка агентом перевозочной документации, необходимой для оформления рейса (посадочные талоны, багажные номерные бирки, бирки &laquo;ручная кладь&raquo;, &laquo;стекло&raquo; и, в случае ручной регистрации, пассажирские манифесты и багажные ведомости);&nbsp;<br />
4) проверка агентами действительности и правильности оформления предоставленного пассажирам билета, даты и номера рейса, времени отправления, аэропорта назначения, наличия штампа места продажи, срока годности билета и наличия фамилии пассажира в списке PNL. При необходимости проверяет наличие записи и штампа в графе &laquo;Передаточная надпись&raquo;.&nbsp;<br />
5) наружный осмотр принимаемого к перевозке багажа;&nbsp;<br />
6) взвешивание предъявленного пассажиром багажа и ручной клади;&nbsp;<br />
7) внесение данных о багаже на данный/стыковочный рейс(ы);&nbsp;<br />
8) агент определяет количество мест, массу багажа и ручной клади, наклеивает багажные номерные бирки на принятый к перевозке багаж и бирки &laquo;ручная кладь&raquo; на ручную кладь. Отрывные талоны багажных бирок передаются пассажиру. При регистрации группы пассажиров, следующих в один пункт назначения, автоматической регистрации агент оформляет весь принятый к перевозке багаж на одного взрослого пассажира в группе в режиме &laquo;семейный&raquo; или &laquo;групповой&raquo;, ручной регистрации агент сверяет общую массу с общей массой бесплатного провоза багажа на всю группу и делает соответствующие пометки в пассажирском манифесте.&nbsp;<br />
9) определение и оформление сверхнормативного багажа с внесением данных в систему регистрации билетов;&nbsp;<br />
10) во избежание возникновения конфликтных ситуаций при выявлении каких-либо нарушений, связанных с процедурой регистрации билетов и оформления багажа (отказ пассажира выполнять требования авиакомпании, нарушения в оформлении билетов), немедленно информируется начальник смены;&nbsp;<br />
11) по окончании регистрации агент, взаимодействуя с агентом зала официальных делегаций (ВИП, СИП залы) аэропорта, обслуживающим особо важных пассажиров, сверяет количество зарегистрированных пассажиров по каждому пункту посадки и в целом по рейсу.&nbsp;<br />
При автоматической регистрации агент выводит на печать необходимое количество пассажирских манифестов, ручной регистрации подводит итоги по каждому сектору регистрации и передает общий итог регистрации диспетчеру для составления сводной загрузочной ведомости.&nbsp;<br />
12) приемосдатчик/грузчик багажа подсчитывает количество мест багажа по каждому пункту загрузки и сверяет его с данными по каждому сектору регистрации.&nbsp;<br />
При ручной регистрации приемосдатчик/грузчик багажа получает от агента данные о количестве мест и весе зарегистрированного багажа, зафиксированные в пассажирском манифесте. Сверив полученные данные с фактическим количеством мест багажа по каждому пункту разгрузки, загружает воздушное судно в соответствии с положениями авиакомпании по загрузке воздушного судна и заверяет фактические данные подписью.&nbsp;<br />
13) регистрация пассажиров, опоздавших ко времени окончания регистрации, не производится;&nbsp;<br />
14) агент приглашает пассажиров из зала ожидания в телескопический трап на посадку, или, при посадке на дальние стоянки в перронное транспортное средство;&nbsp;<br />
15) агент проверяет у пассажиров посадочные талоны, сверяет фамилию пассажира, указанную на посадочном талоне, с фамилией в документе, удостоверяющем личность, вносит данные пассажира, прошедшего посадку в систему, и при наличии специальных устройств, сканирует информацию с посадочного талона.&nbsp;<br />
Перед отправкой перронного транспортного средства агент объявляет пассажирам наименование авиакомпании, маршрут следования и номер рейса.&nbsp;<br />
16) обо всех нарушениях, связанных с процедурой посадки вылетающих пассажиров и оформлением полетной документации (несоответствие количества посадочных талонов общему количеству зарегистрированных пассажиров, несоответствие количества посадочных талонов по классам обслуживания, неявка пассажира на посадку), немедленно информируются диспетчер и начальник смены аэропорта;&nbsp;<br />
17) по окончании посадки пассажиров в воздушное судно агент уточняет у бортпроводника фактическое количество пассажиров на рейсе, сверяя его с посадочными талонами и итоговыми данными регистрации, полученными от диспетчера аэропорта, и делает необходимые изменения в графе &laquo;LMC&raquo; сводной загрузочной ведомости;&nbsp;<br />
18) агент передает сводную загрузочную ведомость и центровочный график второму пилоту воздушного судна и докладывает диспетчеру о завершении посадки на рейс и начале руления воздушного судна;&nbsp;<br />
19) багаж неявившихся пассажиров на борт воздушного судна снимается в обязательном порядке.&nbsp;<br />
&nbsp;&nbsp; 7. При регистрации багажа пассажиров, зарегистрированных через интернет, стойки саморегистрации и другие средства связи, агенты на отдельной стойке (оформление багажа зарегистрированных пассажиров) сверяют посадочные купоны с документами пассажира и производят регистрацию багажа в соответствии с положениями авиакомпании. Стойка саморегистрации и регистрации багажа закрывается за 40 минут до вылета.&nbsp;<br />
&nbsp;&nbsp; 8. Прием, оформление, доставку, погрузку и выдачу багажа обеспечивают взаимодействующие в указанных операциях:&nbsp;<br />
1) агент;&nbsp;<br />
2) приемосдатчик/грузчик;&nbsp;<br />
3) бортпроводник/представитель авиакомпании.&nbsp;<br />
&nbsp;&nbsp; 9. При осуществлении международных полетов маршрутная квитанция необходима во время прохождения паспортного контроля в качестве доказательства обратного билета.&nbsp;<br />
&nbsp;&nbsp; 10. Регистрация билетов и оформление багажа вылетающих пассажиров производятся на стойках в операционном зале или посредством других способов регистрации.&nbsp;<br />
&nbsp;&nbsp; 11. При регистрации пассажира с детьми агент проверяет документ, подтверждающий возраст ребенка (свидетельство о рождении).&nbsp;<br />
&nbsp;&nbsp; 12. Регистрация билета несопровождаемого ребенка при предъявлении документа, удостоверяющего личность ребенка, осуществляется в соответствии с положениями авиакомпании. Предоставление мест в салоне воздушного судна осуществляется согласно статуса билета.&nbsp;<br />
&nbsp;&nbsp; 13. При обслуживании больных пассажиров агент проверяет наличие авиабилета и медицинское заключение, содержащее разрешение на их перевозку воздушным транспортом, с указанием специальных требований к условиям перевозки такого пассажира, после чего оформляет перевозочные документы согласно авиационным стандартам международной организации в сфере гражданской авиации, а также с учетом положений авиакомпании.&nbsp;<br />
&nbsp;&nbsp; 14. При обслуживании беременных пассажиров агент рейса проверяет наличие авиабилета, обменной карты (при любом сроке беременности) и медицинское заключение для беременных пассажиров со сроком беременности от двадцати восьми до тридцати шести недель, содержащее разрешение на его перевозку воздушным транспортом. Беременные пассажиры с более чем тридцатью шести неделями беременности к перевозке на воздушном транспорте не принимаются.</p>

<p style="text-align: center;">3. Порядок обслуживания прилетающих пассажиров</p>

<p style="text-align: center;">&nbsp;&nbsp; 15. Обслуживание прилетающих пассажиров предусматривает следующий порядок:&nbsp;<br />
1) после объявления диспетчером расчетного времени прибытия рейса агенты получают от диспетчера службы перевозок следующую информацию о прибывающем воздушном судне:&nbsp;<br />
номер рейса;&nbsp;<br />
время прибытия;&nbsp;<br />
планируемая стоянка;&nbsp;<br />
количество пассажиров, включая трансферных и транзитных пассажиров;&nbsp;<br />
количество веса багажа;&nbsp;<br />
информация о пассажирах, которым необходимы помощь или специальное обслуживание;&nbsp;<br />
2) агент встречает пассажиров у телескопического трапа или следует с пассажирами в перронное транспортное средство до здания аэровокзала;&nbsp;<br />
3) агент следит за порядком и доставкой пассажиров в зал прилета терминала аэропорта для прохождения паспортного контроля (на международных рейсах) и получения багажа;&nbsp;<br />
4) приемосдатчик/грузчик, производящий выгрузку багажа с борта воздушного судна, осматривает исправность упаковки и в случае обнаружения неисправности сообщает представителю авиакомпании и агенту;&nbsp;<br />
5) представитель авиакомпании/приемосдатчик/грузчик/агент ведет прием багажа с воздушного судна, подсчитывает количество мест багажа при загрузке, сверяет данные в соответствии с полетными документами.&nbsp;<br />
Все обнаруженные неисправности отражаются в багажной ведомости (характер неисправности, номер багажной бирки), заверяются подписью и фамилией агента и представителя авиакомпании.&nbsp;<br />
6) багаж доставляется в багажное отделение аэропорта;&nbsp;<br />
7) приемосдатчик/грузчик производит выгрузку багажа на транспортерную ленту.&nbsp;<br />
В багажное отделение аэропорта багаж пассажиров бизнес-класса (&laquo;приорити&raquo;) и трансфертных пассажиров доставляется в первую очередь.&nbsp;<br />
8) по всем случаям ненадлежащей воздушной перевозки багажа агентом составляется коммерческий акт о ненадлежащей воздушной перевозке багажа (далее - акт PIR). В случае неприбытия/повреждения багажа основанием для составления акта PIR служит заявление пассажира.</p>

<p style="text-align: center;">4. Порядок обслуживания трансферных пассажиров</p>

<p style="text-align: center;">&nbsp;&nbsp; 16. При регистрации трансферных пассажиров и оформлении багажа агент использует специальные багажные номерные бирки авиакомпании.&nbsp;<br />
&nbsp;&nbsp; 17. Трансферный багаж загружается на борт воздушного судна в отдельный багажный отсек. При отсутствии свободного багажного отсека багаж трансферных пассажиров загружается в последнюю очередь.&nbsp;<br />
&nbsp;&nbsp; 18. В багажное отделение аэропорта багаж трансферных пассажиров доставляется в первую очередь.</p>

<p style="text-align: center;">5. Порядок обслуживания транзитных пассажиров</p>

<p style="text-align: center;">&nbsp;&nbsp; 19. Транзитный пассажир отправляется из аэропорта транзита согласно указанным в билете дате и рейсу. При международной перевозке транзитный пассажир в аэропорту остановки находится в зале для транзитных пассажиров.&nbsp;<br />
&nbsp;&nbsp; 20. В случае невозможности отправки транзитного пассажира желательным для него рейсом, авиакомпания предлагает пассажиру место на другой рейс или другую дату вылета. При отказе транзитного пассажира от предложенных авиакомпанией рейса или даты вылета авиакомпания по требованию транзитного пассажира возвращает деньги за невыполненную перевозку по билету в соответствии с правилами применения тарифов авиакомпании.</p>

<p style="text-align: center;">6. Порядок обслуживания пассажира при предъявлении им претензии на ненадлежащую воздушную перевозку багажа</p>

<p style="text-align: center;">&nbsp;&nbsp; 21. Факт ненадлежащей воздушной перевозки багажа, который служит основанием для подачи пассажиром претензии, удостоверяют коммерческим актом PIR. Акт составляют непосредственно в аэропорту обнаружения неисправности либо в аэропорту прибытия.&nbsp;<br />
&nbsp;&nbsp; 22. Основаниями для составления коммерческого акта PIR являются:&nbsp;<br />
1) несоответствие наименования багажа, массы или числа мест багажа, указанных в документах;&nbsp;<br />
2) недостача содержимого багажа;&nbsp;<br />
3) повреждение багажа;&nbsp;<br />
4) обнаружение багажа без документов.&nbsp;<br />
&nbsp;&nbsp; 23. Коммерческий акт PIR составляют и подписывают:&nbsp;<br />
1) представитель авиакомпании - лицо, ответственное за актируемый багаж;&nbsp;<br />
2) агент - лицо, удостоверяющее факт, изложенный в акте;&nbsp;<br />
3) получатель багажа (заинтересованное лицо).&nbsp;<br />
Дополнительное количество лиц, привлекаемых к составлению акта, зависит от характера ненадлежащей воздушной перевозки багажа. Представитель авиакомпании после составления коммерческого акта PIR отправляет сообщение с указанными в акте данными агенту по рекламациям в базовый аэропорт авиакомпании, проводит розыск, выясняет факт и причины.&nbsp;<br />
&nbsp;&nbsp; 24. Обо всех случаях ненадлежащей воздушной перевозки багажа немедленно информируется начальник смены либо агент и представитель авиакомпании.&nbsp;<br />
&nbsp;&nbsp; 25. При неприбытии багажа или недостаче его по количеству мест агент принимает от пассажира претензионное заявление, составляет акт PIR в трех экземплярах, в которых указывает номер, дату вылета рейса, маршрут следования воздушного судна, номера багажных бирок и описание багажа.</p>

<p style="text-align: center;">7. Порядок обслуживания пассажиров с ограниченными возможностями</p>

<p style="text-align: center;">&nbsp;&nbsp; 26. Обслуживание пассажиров с ограниченными возможностями предусматривает следующий порядок:&nbsp;<br />
1) регистрация пассажира, имеющего инвалидность по зрению и в сопровождении собаки-поводыря, осуществляется в соответствии с положениями авиакомпании;&nbsp;<br />
2) при перевозке людей, имеющих ограниченные возможности передвижения, после проведения соответствующих процедур по линии регистрации представитель авиакомпании/аэропорта сопровождает их к (от) воздушному судну и вместе с документами передает его/их непосредственно экипажу;&nbsp;<br />
3) агент оказывает помощь в прохождении пограничного, таможенного контроля и других процедур оформления.&nbsp;<br />
&nbsp;&nbsp;&nbsp; Обслуживание людей с ограниченными возможностями в соответствии с положениями авиакомпании осуществляет агент.&nbsp;<br />
&nbsp;&nbsp;&nbsp; При перевозке лиц, пользующихся креслом-коляской, представитель авиакомпании/аэропорта предоставляет специальное кресло для транспортировки в салоне воздушного судна.&nbsp;<br />
&nbsp;&nbsp; Посадка в воздушное судно лиц с ограниченными возможностями производятся представителем аэропорта в первую очередь до объявления посадки основной части пассажиров и высадка из воздушного судна в последнюю очередь.&nbsp;<br />
&nbsp;&nbsp; Обслуживание пассажиров с ограниченными возможностями, пользующихся услугами воздушного транспорта в соответствии с международными стандартами, положения которых приведены в приложении 2 к настоящим Правилам.</p>
                                </div>
                                <img src="/backend/web/images/pribivshim/Array"  class="img-fluid" alt="">
                            </div>
                        </div>
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                <p>Для пассажиров с детьми <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse3">
                                <div class="purchase-bottom-text no-space">
                                    <p>Сервис в пассажирском терминале</p>

<p>В пассажирском терминале для авиапассажиров предоставляются следующие услуги:</p>

<ul>
  <li>
  <p>Справочное бюро</p>
  </li>
  <li>
  <p>Информационные табло вылетов, прилетов, ...</p>
  </li>
  <li>
  <p>Регистрация пассажиров на международные авиарейсы</p>
  </li>
  <li>
  <p>Регистрация пассажиров на внутренние авиарейсы</p>
  </li>
  <li>
  <p>Консульский отдел</p>
  </li>
  <li>
  <p>Кафе, бары, Fast food</p>
  </li>
  <li>
  <p>Камера хранения</p>
  </li>
  <li>
  <p>Тележки для перевоза багажа и ручной клади</p>
  </li>
  <li>
  <p>Обмен валют</p>
  </li>
  <li>
  <p><strong>Комната матери и ребенка</strong></p>
  </li>
  <li>
  <p>Медпункт</p>
  </li>
  <li>
  <p>Поиск потерянного багажа</p>
  </li>
  <li>
  <p>Комната молитв</p>
  </li>
  <li>
  <p>Упаковка багажа</p>
  </li>
  <li>
  <p>Кассы продажи авиаперевозок</p>
  </li>
  <li>
  <p>Магазины Дьюти фри, Французский дом, Сувениры, и др.</p>
  </li>
  <li>
  <p>Оплата парковки</p>
  </li>
  <li>
  <p>Киоски газет, журналов</p>
  </li>
  <li>
  <p>Казпочта</p>
  </li>
  <li>
  <p>Банкоматы</p>
  </li>
  <li>
  <p>Телефон-автоматы</p>
  </li>
  <li>
  <p>Интернет</p>
  </li>
  <li>
  <p>Место встречи</p>
  </li>
  <li>
  <p>Wi-Fi</p>
  </li>
</ul>
                                </div>
                                <img src="/backend/web/images/pribivshim/15619806631552297157807d7a246cfec5087c711e41b59bcf11.jpg"  class="img-fluid" alt="">
                            </div>
                        </div>
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                <p>Для пассажиров с животными <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse4">
                                <div class="purchase-bottom-text no-space">
                                    <p>Собаки, кошки, птицы и другие животные принимаются к перевозке только в сопровождении взрослых пассажиров и с предварительного согласия Перевозчика. Пассажир должен представить сертификат, выданный уполномоченным государственным учреждением, и другие документы, требуемые ветеринарными органами любой страны, на территорию, с территории или через территорию которой осуществляется перевозка.</p>

<p>См.: Правила транспортировки (перемещения) подконтрольных государственному ветеринарному надзору грузов на территории Республики Казахстан.</p>

<p>Для перевозки животных и птиц пассажир должен обеспечить контейнер (клетку) достаточных размеров с доступом воздуха.&nbsp;<br />
Дно контейнера (клетки) должно быть водонепроницаемым и покрыто абсорбирующим материалом. В порядке исключения допускается перевозка животных и птиц в плотно закрываемых корзинах, коробках с отверстием для доступа воздуха. Клетки птиц должны быть покрыты плотной светонепроницаемой тканью.</p>

<p>Масса сопровождаемых животных и птиц, в том числе масса контейнеров (клетки) и пищи, не включается в норму бесплатного провоза багажа и оплачивается по тарифу, установленному нормативными актами Перевозчика.&nbsp;<br />
Если масса животного вместе с клеткой превышает 8 кг, такое животное перевозится только в качестве зарегистрированного багажа в изолированном багажнике воздушного судна. Если полет совершается воздушным судном, не имеющим изолированного багажника, то клетки с животными располагаются в пассажирском салоне с согласия рядом сидящих пассажиров.</p>

<p>Собаки-поводыри перевозятся бесплатно без клетки сверх нормы бесплатного провоза багажа при условии, что на такой собаке имеется ошейник и намордник, и она находится привязанной у ног владельца.</p>
                                </div>
                                <img src="/backend/web/images/pribivshim/Array"  class="img-fluid" alt="">
                            </div>
                        </div>
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                <p>Для людей с ограниченными возможностями  <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse5">
                                <div class="purchase-bottom-text no-space">
                                    <h3 style="color: rgb(0, 51, 102); font-family: Arial, Helvetica, sans-serif; text-align: center;">Аэропорт без барьеров пассажирам из числа инвалидов и других лиц с ограничениями жизнедеятельности</h3>

<p>В аэропорту города Алматы имеется медицинская служба, которая работает в круглосуточном режиме&nbsp;<br />
В составе 5 врачей, 5 фельдшеров, 5 дежурных комнат матери и ребенка, 4 водителя скорой помощи.Оснащение: 6 инвалидных кресло &ndash; каталок, из них 4 узкие для доставки до посадочного места в воздушном судне, 2 машины скорой помощи (Мерседес-Бенс, Хюндай 2013 года выпуска).</p>

<p>Все услуги предоставляются бесплатно.</p>

<p>Контактные телефоны 2703-030, 2703-490<br />
Электронный адрес: medoffice@alaport.com<br />
Начальник медицинской службы аэропорта Алматы - Нуриманов Сагдат,<br />
мобильный: +7 777 009 97 94</p>
                                </div>
                                <img src="/backend/web/images/pribivshim/15619807661551853864invalid(1).jpg"  class="img-fluid" alt="">
                            </div>
                        </div>
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                <p>Как добраться до аэропорта <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse6">
                                <div class="purchase-bottom-text no-space">
                                    <p style="text-align: center;">Городские транспортные маршруты в аэропорт</p>

<p style="text-align: center;">Автобусные маршруты: по данным сайта Алматы</p>

<p style="text-align: center;">&quot;СХЕМЫ МАРШРУТОВ ГОРОДА АЛМАТЫ&quot;</p>

<p>&nbsp;</p>

<ul>
  <li>Route №79</li>
  <li>Route number 86</li>
  <li>Route №92</li>
  <li>Route number 106</li>
</ul>
                                </div>
                                <img src="/backend/web/images/pribivshim/15620396411552294440IMG_0842 (6).jpg"  class="img-fluid" alt="">
                            </div>
                        </div>
                                            <div class="collapse-block">
                            <div class="collapse-item" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                <p>Таможенные правила <img src="{% static 'pages/images/info-icon.png' %}" class="hidden" alt=""></p>
                                <div class="collapse-arrow">
                                    <img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
                                </div>
                            </div>
                            <div class="collapse collapse-area" id="collapse7">
                                <div class="purchase-bottom-text no-space">
                                    <p>Во избежание недоразумений при пересечении границы Республики Казахстан, переоформлении движимого и недвижимого имущества и других финансовых операциях Министерство юстиции Республики Казахстан рекомендует физическим и юридическим лицам самостоятельно проверять наличие задолженности по судебным актам. на сайте: www.adilet.gov.kz</p>
                                </div>
                                <img src="/backend/web/images/pribivshim/15620426451551853941tamozhennoe.jpg"  class="img-fluid" alt="">
                            </div>
                        </div>
                                    </div>
            </div>
        </div>
      <div id="wrapper4">
        <div id="footer" class="container">
          <div>
            <header class="title">
              <h2>Информация</h2>
              <span class="byline">Больше информаций о нас здесь:)</span>
            </header>
            <ul class="contact">
              <li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
              <li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
              <li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
              <li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
            </ul>
          </div>
        </div>
      </div>

</body>

</html>