<!DOCTYPE>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>

  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="search-box.css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
  <link href="{% static 'pages/css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'pages/css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home:home' %}">AirPort</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">Главная <span class="sr-only">(current)</span></a>
      </li>
     <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:onas' %}">О нас</a>

        <li class="nav-item active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <button class="search-box-button">❓</button>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Какие есть рейсы?</a>
        <a class="dropdown-item" href="{% url 'home:vylety' %}">Как узнать прилет?</a>
        <a class="dropdown-item" href="{% url 'home:prilet' %}">Когда отлет самолетов?</a>
        <a class="dropdown-item" href="{% url 'home:contact' %}">Как свзяаться с в аэропортом?</a>
        <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Almaty">Где находиться Алматы?</a>
        <a class="dropdown-item" href="{% url 'home:forpassengers' %}">Какие есть Алматинские авиа-туры?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Нужна ли регистрация для просмотра рейсов?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Как посмотреть мои полеты?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Как сохранить выбранный рейс?</a>
        <a class="dropdown-item" href="{% url 'home:info' %}">Что еще я могу узнать?</a>
        </div>
        </li>
      <li class="nav-item active">
        <a class="nav-link active" href="{% url 'home:forpassengers' %}" tabindex="-1" aria-disabled="true">Для пассажиров</a>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:booking' %}">Покупка Билетов</a>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:contact' %}">Контакты</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        MEНЮ
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{% url 'home:prilet' %}">ПРИЛЕТ</a>
          <a class="dropdown-item" href="{% url 'home:vylety' %}">ВЫЛЕТ</a>
          <a class="dropdown-item" href="{% url 'home:info' %}">Info-центр</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'home:schedule'%}">РАСПИСАНИЕ</a>
        </div>
      </li>
     <li class="nav-item active">
      {% if not request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'home:register' %}">Мои полеты</a>
      {% else %}
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:profile' %}">Мой профиль</a>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'home:home' %}">Выйти</a>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'home:search' %}" method='POST'>
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" name="search_text" placeholder="Search" aria-label="Search">
      <input class="search-box-button" type="submit">&#128269;</input>
    </form>
  </div>
</nav>

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#"></a></h1>
			<h1><a href="{% url 'home:home' %}">Добро пожаловать в аэропорт Алматы</a></h1>
			<span><a href="{% url 'home:home' %}" rel="nofollow">Airprot</a></span> </div>
		<div id="menu">
			
		</div>
	</div>
</div>


<div id="wrapper3">
	<p><img src="{% static 'pages/images/shema.png' %}" width="100%"></p>

<div class="fly-away-bg">
<div class="container">
<div class="col-sm-12">
<div class="collapse-block">
<div class="collapse-item" data-toggle="collapse" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
<p><h3>Регистрация</h3><class="hidden" alt=""></p>
<div class="collapse-arrow">
<img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
</div>
</div>
<div class="collapse collapse-area" id="collapse0">
<div class="purchase-bottom-text no-space">
<p><span style="color: rgb(0, 0, 0); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-size: 15px; text-align: center; white-space: pre-wrap;">Постановление Правительства Республики Казахстан
от 31 декабря 2010 года № 1512
Об утверждении Правил организации обслуживания пассажиров в аэропортах Республики Казахстан
(с изменениями от 22.01.2013 г.)
В соответствии с подпунктом 36) статьи 13 Закона Республики Казахстан от 15 июля 2010 года «Об использовании воздушного пространства Республики Казахстан и деятельности авиации» Правительство Республики Казахстан ПОСТАНОВЛЯЕТ: 1. Утвердить прилагаемые Правила организации обслуживания пассажиров в аэропортах Республики Казахстан. 2. Настоящее постановление вводится в действие по истечении десяти календарных дней со дня первого официального опубликования.

Премьер-Министр
Республики Казахстан                                                                                                                     К. Масимов

Правила изложены в редакции постановления Правительства РК от 22.01.13 г. № 24 (см. стар. ред.)

Утверждены
постановлением Правительства
Республики Казахстан
от 31 декабря 2010 года № 1512

Правила
организации обслуживания пассажиров в аэропортах Республики Казахстан

1. Общие положения

   1. Настоящие Правила организации обслуживания пассажиров в аэропортах Республики Казахстан (далее - Правила) разработаны в соответствии с Законом Республики Казахстан от 15 июля 2010 года «Об использовании воздушного пространства Республики Казахстан и деятельности авиации».
   2. Настоящие Правила устанавливают порядок и организации обслуживания пассажиров в аэропортах Республики Казахстан и направлены на обеспечение безопасного и качественного обслуживания пассажиров.
   3. Термины и определения, используемые в настоящих Правилах:
1) агент - физическое или юридическое лицо, представляющее авиакомпанию, аэропорт, которое уполномочено непосредственно выступать от его имени при выполнении всех процедур, связанных с прибытием, отправлением и оформлением воздушного судна данной авиакомпании, экипажа, пассажиров, багажа, груза, почты и бортприпасов;
2) графа «изменение в последнюю минуту» сводно-загрузочной ведомости (далее - графа «LMC») - графа, в которой указываются изменения в последнюю минуту количества пассажиров, багажа;
3) обслуживание пассажиров - деятельность по выполнению процедур, связанных с оформлением и осуществлением воздушной перевозки, а также с предоставлением им дополнительных платных или бесплатных услуг с целью удовлетворения потребностей;
4) перронное транспортное средство - транспортное средство, предназначенное для перевозки пассажиров между воздушным судном и зданием аэропорта;
5) претензия - составленное в письменной (электронной) форме требование заинтересованного лица о возмещении вреда (убытков), возникшее в результате ненадлежащей воздушной перевозки багажа;
6) акт о неисправностях при перевозке багажа (PIR - property irregularity report) - документ, оформленный перевозчиком или обслуживающей организацией в присутствии пассажира или уполномоченного им лица при обнаружении вреда, причиненного багажу;
7) багаж - личные вещи пассажира, перевозимые перевозчиком на воздушном судне на основании договора воздушной перевозки;
8) багажная бирка - документ, выдаваемый перевозчиком для опознавания (идентификации) зарегистрированного багажа пассажира;
9) маршрутная квитанция - документ или документы, являющиеся составной частью электронного билета и содержащие необходимые сведения (например, фамилию пассажира, маршрут, тариф и т.д.), извещения и уведомления;
10) багаж зарегистрированный - багаж пассажира, принятый перевозчиком к воздушной перевозке под ответственность перевозчика и на который он выдал багажную квитанцию и багажную бирку;
11) багаж невостребованный - багаж, который прибыл в аэропорт (пункт) назначения, указанный на багажной бирке, и не был получен пассажиром;
12) багаж незарегистрированный (ручная кладь) - багаж пассажиров, кроме зарегистрированного, маркируемый бирками «ручная кладь», перевозимый в салоне воздушного судна с согласия перевозчика;
13) трансферный багаж - багаж, который в соответствии с договором воздушной перевозки перегружается в аэропорту (пункте) трансфера с воздушного судна, выполняющего один рейс, на воздушное судно, выполняющее другой рейс по маршруту воздушной перевозки;
14) транзитный пассажир - пассажир, который в соответствии с договором воздушной перевозки перевозится далее тем же рейсом, которым прибыл в промежуточный аэропорт;
15) трансферный пассажир - пассажир, который в соответствии с договором воздушной перевозки прибыл в аэропорт (пункт) трансфера (пересадки) одним рейсом и продолжает полет другим рейсом по маршруту перевозки;
16) пассажир с ограниченной возможностью (PRM - Persons with Reduced Mobility) - пассажир, способность которого ограничена вследствие (сенсорной или моторной, хронической или временной) инвалидности, умственного недостатка, иного ограничения или возрастных изменений, и состояние которого требует надлежащей поддержки и адаптации.
17) графа «передаточная надпись» - в билете в этой графе указываются данные о пассажире.
   4. При организации обслуживания пассажиров в аэропортах Республики Казахстан служба организации авиаперевозок, являющаяся структурным подразделением аэропорта, осуществляет следующие функции:
1) обеспечивает регулярность полетов;
2) разрабатывает и осуществляет мероприятия по обеспечению сохранности и своевременной доставке багажа пассажиров;
3) проводит регистрацию билетов пассажиров, взвешивание и оформление багажа пассажиров в соответствии с авиационными стандартами международной организации в сфере гражданской авиации, а также с учетом положений авиакомпании;
4) обеспечивает представление пакета перевозочных документов по каждому рейсу;
5) по окончании регистрации подводит итоги регистрации;
6) выявляет наличие свободных мест и контролирует загрузку воздушного судна (пассажиров, багажа) в соответствии с перевозочными документами, документами по загрузке воздушного судна и положениями авиакомпании;
7) приглашает к посадке и сопровождает пассажиров до воздушного судна;
8) осуществляет посадку пассажиров в воздушное судно, загрузку багажа, сверяя фактическое наличие пассажиров с данными перевозочных документов;
9) организует снятие багажа не явившихся на посадку пассажиров;
10) проводит встречу и сопровождение прибывающих пассажиров до зала прилета аэровокзала;
11) производит прием, сопровождение багажа между зданием аэропорта и воздушным судном;
12) обеспечивает в аэропорту качество обслуживания пассажиров, пользующихся услугами воздушного транспорта в соответствии с международными стандартами, положения которых приведены в приложении 1 к настоящим Правилам.
   5. Обслуживание пассажиров в аэропортах осуществляется в следующем порядке:
1) обслуживание вылетающих пассажиров;
2) обслуживание прилетающих пассажиров;
3) обслуживание трансферных пассажиров;
4) обслуживание транзитных пассажиров,
5) обслуживание пассажира при предъявлении им претензии на ненадлежащую воздушную перевозку с участием представителя авиакомпании;
6) обслуживание пассажиров с ограниченными возможностями.

2. Порядок обслуживания вылетающих пассажиров

   6. Обслуживание вылетающих пассажиров предусматривает следующий порядок:
1) регистрация вылетающих пассажиров в аэропорту начинается не позднее двух часов до вылета воздушного судна (в зависимости от типа воздушного судна и количества пассажиров) на международных рейсах и не позднее 1,5 часов до вылета воздушного судна (в зависимости от типа воздушного судна и количества пассажиров) на внутренних рейсах и заканчивается за 40 минут до вылета воздушного судна;
2) получение агентами от диспетчера сведений о номере и типе воздушного судна, количестве посадочных мест, авиакомпании, количестве проданных билетов и дополнительных сведений о вылетающих особо важных пассажирах, инвалидах, больных, трансферных и транзитных пассажирах, пассажирах зарегистрированных через интернет, стойки саморегистрации и другие виды связи;
3) подготовка агентом перевозочной документации, необходимой для оформления рейса (посадочные талоны, багажные номерные бирки, бирки «ручная кладь», «стекло» и, в случае ручной регистрации, пассажирские манифесты и багажные ведомости);
4) проверка агентами действительности и правильности оформления предоставленного пассажирам билета, даты и номера рейса, времени отправления, аэропорта назначения, наличия штампа места продажи, срока годности билета и наличия фамилии пассажира в списке PNL. При необходимости проверяет наличие записи и штампа в графе «Передаточная надпись».
5) наружный осмотр принимаемого к перевозке багажа;
6) взвешивание предъявленного пассажиром багажа и ручной клади;
7) внесение данных о багаже на данный/стыковочный рейс(ы);
8) агент определяет количество мест, массу багажа и ручной клади, наклеивает багажные номерные бирки на принятый к перевозке багаж и бирки «ручная кладь» на ручную кладь. Отрывные талоны багажных бирок передаются пассажиру. При регистрации группы пассажиров, следующих в один пункт назначения, автоматической регистрации агент оформляет весь принятый к перевозке багаж на одного взрослого пассажира в группе в режиме «семейный» или «групповой», ручной регистрации агент сверяет общую массу с общей массой бесплатного провоза багажа на всю группу и делает соответствующие пометки в пассажирском манифесте.
9) определение и оформление сверхнормативного багажа с внесением данных в систему регистрации билетов;
10) во избежание возникновения конфликтных ситуаций при выявлении каких-либо нарушений, связанных с процедурой регистрации билетов и оформления багажа (отказ пассажира выполнять требования авиакомпании, нарушения в оформлении билетов), немедленно информируется начальник смены;
11) по окончании регистрации агент, взаимодействуя с агентом зала официальных делегаций (ВИП, СИП залы) аэропорта, обслуживающим особо важных пассажиров, сверяет количество зарегистрированных пассажиров по каждому пункту посадки и в целом по рейсу.
При автоматической регистрации агент выводит на печать необходимое количество пассажирских манифестов, ручной регистрации подводит итоги по каждому сектору регистрации и передает общий итог регистрации диспетчеру для составления сводной загрузочной ведомости.
12) приемосдатчик/грузчик багажа подсчитывает количество мест багажа по каждому пункту загрузки и сверяет его с данными по каждому сектору регистрации.
При ручной регистрации приемосдатчик/грузчик багажа получает от агента данные о количестве мест и весе зарегистрированного багажа, зафиксированные в пассажирском манифесте. Сверив полученные данные с фактическим количеством мест багажа по каждому пункту разгрузки, загружает воздушное судно в соответствии с положениями авиакомпании по загрузке воздушного судна и заверяет фактические данные подписью.
13) регистрация пассажиров, опоздавших ко времени окончания регистрации, не производится;
14) агент приглашает пассажиров из зала ожидания в телескопический трап на посадку, или, при посадке на дальние стоянки в перронное транспортное средство;
15) агент проверяет у пассажиров посадочные талоны, сверяет фамилию пассажира, указанную на посадочном талоне, с фамилией в документе, удостоверяющем личность, вносит данные пассажира, прошедшего посадку в систему, и при наличии специальных устройств, сканирует информацию с посадочного талона.
Перед отправкой перронного транспортного средства агент объявляет пассажирам наименование авиакомпании, маршрут следования и номер рейса.
16) обо всех нарушениях, связанных с процедурой посадки вылетающих пассажиров и оформлением полетной документации (несоответствие количества посадочных талонов общему количеству зарегистрированных пассажиров, несоответствие количества посадочных талонов по классам обслуживания, неявка пассажира на посадку), немедленно информируются диспетчер и начальник смены аэропорта;
17) по окончании посадки пассажиров в воздушное судно агент уточняет у бортпроводника фактическое количество пассажиров на рейсе, сверяя его с посадочными талонами и итоговыми данными регистрации, полученными от диспетчера аэропорта, и делает необходимые изменения в графе «LMC» сводной загрузочной ведомости;
18) агент передает сводную загрузочную ведомость и центровочный график второму пилоту воздушного судна и докладывает диспетчеру о завершении посадки на рейс и начале руления воздушного судна;
19) багаж неявившихся пассажиров на борт воздушного судна снимается в обязательном порядке.
   7. При регистрации багажа пассажиров, зарегистрированных через интернет, стойки саморегистрации и другие средства связи, агенты на отдельной стойке (оформление багажа зарегистрированных пассажиров) сверяют посадочные купоны с документами пассажира и производят регистрацию багажа в соответствии с положениями авиакомпании. Стойка саморегистрации и регистрации багажа закрывается за 40 минут до вылета.
   8. Прием, оформление, доставку, погрузку и выдачу багажа обеспечивают взаимодействующие в указанных операциях:
1) агент;
2) приемосдатчик/грузчик;
3) бортпроводник/представитель авиакомпании.
   9. При осуществлении международных полетов маршрутная квитанция необходима во время прохождения паспортного контроля в качестве доказательства обратного билета.
   10. Регистрация билетов и оформление багажа вылетающих пассажиров производятся на стойках в операционном зале или посредством других способов регистрации.
   11. При регистрации пассажира с детьми агент проверяет документ, подтверждающий возраст ребенка (свидетельство о рождении).
   12. Регистрация билета несопровождаемого ребенка при предъявлении документа, удостоверяющего личность ребенка, осуществляется в соответствии с положениями авиакомпании. Предоставление мест в салоне воздушного судна осуществляется согласно статуса билета.
   13. При обслуживании больных пассажиров агент проверяет наличие авиабилета и медицинское заключение, содержащее разрешение на их перевозку воздушным транспортом, с указанием специальных требований к условиям перевозки такого пассажира, после чего оформляет перевозочные документы согласно авиационным стандартам международной организации в сфере гражданской авиации, а также с учетом положений авиакомпании.
   14. При обслуживании беременных пассажиров агент рейса проверяет наличие авиабилета, обменной карты (при любом сроке беременности) и медицинское заключение для беременных пассажиров со сроком беременности от двадцати восьми до тридцати шести недель, содержащее разрешение на его перевозку воздушным транспортом. Беременные пассажиры с более чем тридцатью шести неделями беременности к перевозке на воздушном транспорте не принимаются.

3. Порядок обслуживания прилетающих пассажиров

   15. Обслуживание прилетающих пассажиров предусматривает следующий порядок:
1) после объявления диспетчером расчетного времени прибытия рейса агенты получают от диспетчера службы перевозок следующую информацию о прибывающем воздушном судне:
номер рейса;
время прибытия;
планируемая стоянка;
количество пассажиров, включая трансферных и транзитных пассажиров;
количество веса багажа;
информация о пассажирах, которым необходимы помощь или специальное обслуживание;
2) агент встречает пассажиров у телескопического трапа или следует с пассажирами в перронное транспортное средство до здания аэровокзала;
3) агент следит за порядком и доставкой пассажиров в зал прилета терминала аэропорта для прохождения паспортного контроля (на международных рейсах) и получения багажа;
4) приемосдатчик/грузчик, производящий выгрузку багажа с борта воздушного судна, осматривает исправность упаковки и в случае обнаружения неисправности сообщает представителю авиакомпании и агенту;
5) представитель авиакомпании/приемосдатчик/грузчик/агент ведет прием багажа с воздушного судна, подсчитывает количество мест багажа при загрузке, сверяет данные в соответствии с полетными документами.
Все обнаруженные неисправности отражаются в багажной ведомости (характер неисправности, номер багажной бирки), заверяются подписью и фамилией агента и представителя авиакомпании.
6) багаж доставляется в багажное отделение аэропорта;
7) приемосдатчик/грузчик производит выгрузку багажа на транспортерную ленту.
В багажное отделение аэропорта багаж пассажиров бизнес-класса («приорити») и трансфертных пассажиров доставляется в первую очередь.
8) по всем случаям ненадлежащей воздушной перевозки багажа агентом составляется коммерческий акт о ненадлежащей воздушной перевозке багажа (далее - акт PIR). В случае неприбытия/повреждения багажа основанием для составления акта PIR служит заявление пассажира.

4. Порядок обслуживания трансферных пассажиров

   16. При регистрации трансферных пассажиров и оформлении багажа агент использует специальные багажные номерные бирки авиакомпании.
   17. Трансферный багаж загружается на борт воздушного судна в отдельный багажный отсек. При отсутствии свободного багажного отсека багаж трансферных пассажиров загружается в последнюю очередь.
   18. В багажное отделение аэропорта багаж трансферных пассажиров доставляется в первую очередь.

5. Порядок обслуживания транзитных пассажиров

   19. Транзитный пассажир отправляется из аэропорта транзита согласно указанным в билете дате и рейсу. При международной перевозке транзитный пассажир в аэропорту остановки находится в зале для транзитных пассажиров.
   20. В случае невозможности отправки транзитного пассажира желательным для него рейсом, авиакомпания предлагает пассажиру место на другой рейс или другую дату вылета. При отказе транзитного пассажира от предложенных авиакомпанией рейса или даты вылета авиакомпания по требованию транзитного пассажира возвращает деньги за невыполненную перевозку по билету в соответствии с правилами применения тарифов авиакомпании.

6. Порядок обслуживания пассажира при предъявлении им претензии на ненадлежащую воздушную перевозку багажа

   21. Факт ненадлежащей воздушной перевозки багажа, который служит основанием для подачи пассажиром претензии, удостоверяют коммерческим актом PIR. Акт составляют непосредственно в аэропорту обнаружения неисправности либо в аэропорту прибытия.
   22. Основаниями для составления коммерческого акта PIR являются:
1) несоответствие наименования багажа, массы или числа мест багажа, указанных в документах;
2) недостача содержимого багажа;
3) повреждение багажа;
4) обнаружение багажа без документов.
   23. Коммерческий акт PIR составляют и подписывают:
1) представитель авиакомпании - лицо, ответственное за актируемый багаж;
2) агент - лицо, удостоверяющее факт, изложенный в акте;
3) получатель багажа (заинтересованное лицо).
Дополнительное количество лиц, привлекаемых к составлению акта, зависит от характера ненадлежащей воздушной перевозки багажа. Представитель авиакомпании после составления коммерческого акта PIR отправляет сообщение с указанными в акте данными агенту по рекламациям в базовый аэропорт авиакомпании, проводит розыск, выясняет факт и причины.
   24. Обо всех случаях ненадлежащей воздушной перевозки багажа немедленно информируется начальник смены либо агент и представитель авиакомпании.
   25. При неприбытии багажа или недостаче его по количеству мест агент принимает от пассажира претензионное заявление, составляет акт PIR в трех экземплярах, в которых указывает номер, дату вылета рейса, маршрут следования воздушного судна, номера багажных бирок и описание багажа.

7. Порядок обслуживания пассажиров с ограниченными возможностями

   26. Обслуживание пассажиров с ограниченными возможностями предусматривает следующий порядок:
1) регистрация пассажира, имеющего инвалидность по зрению и в сопровождении собаки-поводыря, осуществляется в соответствии с положениями авиакомпании;
2) при перевозке людей, имеющих ограниченные возможности передвижения, после проведения соответствующих процедур по линии регистрации представитель авиакомпании/аэропорта сопровождает их к (от) воздушному судну и вместе с документами передает его/их непосредственно экипажу;
3) агент оказывает помощь в прохождении пограничного, таможенного контроля и других процедур оформления.
    Обслуживание людей с ограниченными возможностями в соответствии с положениями авиакомпании осуществляет агент.
    При перевозке лиц, пользующихся креслом-коляской, представитель авиакомпании/аэропорта предоставляет специальное кресло для транспортировки в салоне воздушного судна.
   Посадка в воздушное судно лиц с ограниченными возможностями производятся представителем аэропорта в первую очередь до объявления посадки основной части пассажиров и высадка из воздушного судна в последнюю очередь.
   Обслуживание пассажиров с ограниченными возможностями, пользующихся услугами воздушного транспорта в соответствии с международными стандартами, положения которых приведены в приложении 2 к настоящим Правилам.</span></p>
</div>
<img src="/backend/web/images/pribivshim/Array" class="img-fluid" alt="">
</div>
</div>
<div class="collapse-block">
<div class="collapse-item" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
<p><h3>Мои полеты</h3><class="hidden" alt=""></p>
<div class="collapse-arrow">
<img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
</div>
</div>
<div class="collapse collapse-area" id="collapse1">
<div class="purchase-bottom-text no-space">
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 20px; font-variant-numeric: normal; font-variant-east-asian: normal;

font-stretch: normal; font-size: 15px; line-height: normal; font-family: &quot;Roboto Light&quot;, sans-serif; color: rgb(12, 40, 51);">&nbsp;<br style="box-sizing: border-box;" />
Что бы увидеть ваши полеты нужно: 1.Пройти регистрацию
</p>


</ul>
</div>
<img src="/backend/web/images/pribivshim/Array" class="img-fluid" alt="">
</div>
</div>
<div class="collapse-block">
<div class="collapse-item" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
<p><h3>Паспортный пограничный контроль - режим работы и контактные данные</h3><class="hidden" alt=""></p>
<div class="collapse-arrow">
<img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
</div>
</div>
<div class="collapse collapse-area" id="collapse2">
<div class="purchase-bottom-text no-space">
<p><span style="color: rgb(0, 0, 0); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; white-space: pre-wrap;">3092 - Начальник отдела; 3105 - КНБ Разведка; 3485 - международный прилет ПТ; 3611 - Пограничники служба прилет; 3174 - Пограничники грузовой отдел; 3423 - Отдел погреничного контроля &quot;Жолаушылар; 3451, 3455, 3468, 3612, 3613, 3137, 3305</span></p>
</div>
<img src="/backend/web/images/pribivshim/Array" class="img-fluid" alt="">
</div>
</div>
<div class="collapse-block">
<div class="collapse-item" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
<p><h3>Парковка</h3><class="hidden" alt=""></p>
<div class="collapse-arrow">
<img src="{% static 'pages/images/collapse-arrow.png' %}" alt="">
</div>
</div>
<div class="collapse collapse-area" id="collapse3">
<div class="purchase-bottom-text no-space">

<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 20px; font-variant-numeric: normal; font-variant-east-asian: normal;

font-stretch: normal; font-size: 15px; line-height: normal; font-family: &quot;Roboto Light&quot;, sans-serif; color: rgb(12, 40, 51);">&nbsp;<br style="box-sizing: border-box;" />
Тарифы на стоянку транспортных средств на привокзальной площади и в крытом парковочном комплексе Международного аэропорта города Алматы.

ТАРИФЫ
Время (в часах) Стоимость (тенге)
До 15 минут Бесплатно(Не более 3-х раз в сутки)
От 15 минут до 2-х часов  300
До 4-х часов  500
До 6-ти часов 800
До 12-ти часов  1200
До 24-х часов 1800
Свыше 24-х часов, за последующие
полные и неполные сутки 2000
Утеря талона штраф 500 тенге.
Тарифы на стоянку транспортных средств на автопарковке по адрессу ул.Майлина 1в.



ТАРИФЫ
Время (в часах) Стоимость (тенге)
До 15 минут Бесплатно
От 15 минут до 2-х часов  200
До 6-ти часов 400
До 12-ти часов  600
До 24-х часов 800
Свыше 24-х часов, за последующие
полные и неполные сутки 1000
Утеря талона штраф 1500 тенге.</p>

<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 20px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: normal; font-family: &quot;Roboto Light&quot;, sans-serif; color: rgb(12, 40, 51);">Все услуги предоставляются бесплатно.</p>

<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 20px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 15px; line-height: normal; font-family: &quot;Roboto Light&quot;, sans-serif; color: rgb(12, 40, 51);">Контактные телефоны 2703-030, 2703-490<br style="box-sizing: border-box;" />
Электронный адрес: medoffice@alaport.com<br style="box-sizing: border-box;" />
Начальник медицинской службы аэропорта Алматы - Нуриманов Сагдат,<br style="box-sizing: border-box;" />
мобильный: +7 777 009 97 94</p>
</div>
<img src="/backend/web/images/pribivshim/15619812361551853864invalid(1).jpg" class="img-fluid" alt="">
</div>
</div>
</div>
</div>
</div>




<div id="portfolio" class="container">
<div class="title">
<h2></h2>
<span class="byline"></span> </div>
<div class="column1">
<div class="box"> <a href="#"><img src="{% static 'pages/images/tax.jpg' %}" height="500" alt="" class="image image-full" /></a>
<h3>Трансфер</h3>
<a href="https://gettransfer.com/ru/transfers/new?utm_source=GoogleAdwords&utm_medium=cpc&utm_campaign=g_other_regions_rus&utm_term=%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C%20%D1%82%D1%80%D0%B0%D0%BD%D1%81%D1%84%D0%B5%D1%80&utm_content=%7Bsource_type%7D:%7Bsource%7D:%7Bposition_type%7D:%7Bposition%7D&gclid=CjwKCAiAws7uBRAkEiwAMlbZjrHQqQQ54hbG_CyZwAuvEMohPQKD9OUzE72X5KW2BZjhiso8nio7PRoCiD4QAvD_BwE" class="button button-small">Заказать</a> </div>
</div>
<div class="column2">
<div class="box"> <a href="#"><img src="{% static 'pages/images/2ggg.jpg' %}" height="500" alt="" class="image image-full" /></a>
<h3>Проложить путь</h3>
<a href="https://2gis.kz/almaty" class="button button-small">Подробнее</a> </div>
</div>

</div>
</div>




<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Аэропорт Алматы</h2>
			<span class="byline">Немного информаций о нас</span> </div>
		<div class="content">
			<p>Международный аэропорт Алматы (каз. Алматы әуежайы; KASE: ARAL (IATA: ALA, ICAO: UAAA)) — аэропорт, первый по объёму пассажиропотока в Казахстане. Расположен в северной части города, в 15 километрах от центра Алматы. </p>
			<a href="{% url 'home:info' %}" class="button">Читать больше</a> </div>
	</div>
</div>
<div id="wrapper4">
	<div id="footer" class="container">
		<div>
			<header class="title">
				<h2>Информация</h2>
				<span class="byline">Больше информаций о нас здесь:)</span> </header>
			<ul class="contact">
				<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
				<li><a href="#" class="icon icon-facebook"><span>Facebook</span></a></li>
				<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
				<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>

  
 

 